:root {
    font-size: 16px;
    --font-family-1: "Roboto";
    /*--font-family-1: "HelveticaNeue-Light";*/
    --font-family-2: "Poppins";
    --main-color-background: white;
    --main-color-contrast: #20284D;    
    --main-color-selector: #4A589B;
    --secondary-color-contrast: #BADA55;
    --secondary-color-selector: #BADA55;
}

.poppins-semi-bold {
    font-family: 'Poppins';
    font-weight: 600;
}

.header-banner {  
    max-width: 100%;
    height: auto;
}

.row-full{
    max-width: 100vw !important;
    width: 100vw !important;
    position: relative !important;
    margin-left: -50vw !important;
    left: 50% !important;
    }

.landing-banner {  
    max-height: 600px;
    height: 600px;
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    vertical-align: baseline;
    background-size:cover;
    background-position: center bottom;
    object-fit: cover;
    
}

.landing-banner::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.60);
}


.landing-title {
    position: relative;
    color: var(--main-color-background);
    font-family:var(--font-family-2);
    font-size: 70px;
    font-weight: 700;    
}

.landing-title-bold {
    position: relative;
    color: var(--secondary-color-contrast);
    font-family:var(--font-family-2);
    font-size: 70px;
    font-weight: 700;        
}

.main-title {
    position: relative;
    color: var(--main-color-background);
    font-family:var(--font-family-2);
    font-size: 51px;
    font-weight: 700;    
}

.main-title-bold {
    position: relative;
    color: var(--secondary-color-contrast);
    font-family:var(--font-family-2);
    font-size: 51px;
    font-weight: 700;        
}

.landing-subtitle {
    position: relative;
    margin-top: 1rem;
    color: var(--main-color-background);
    font-family:var(--font-family-1);
    font-size: 22px;
    font-weight: 100;    
}

.main-banner {  
    max-height: 400px;
    height: 400px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    background-size:cover;
    background-position: center bottom;
    object-fit: cover;
    
}

.main-banner::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-color: rgba(0,0,0,0.20);
}

.main-primary-selector-subpage {
    background-color: var(--main-color-selector);
    font-family: var(--font-family-1);    
    font-size: 20px;
    font-weight: 300px;
    text-transform: capitalize;
    border-radius: 10px;
    margin: 1.5rem;
    padding: 1rem;
}

.main-primary-selector-subpage:hover {
    background-color: var(--secondary-color-selector);
}

.main-board-subpage {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
}

.main-board-title-subpage {
    color: var(--main-color-contrast);
    font-family: var(--font-family-2);
    font-size: 37px;
    font-weight: 700;
}

.main-board-header {
    display: flex;
    justify-content: space-around;
}

.main-board-label {
    font-family: var(--font-family-1);
    font-weight: 400;
    font-size: 20px;
}

.main-board-subtitle {
    font-family: 'Montserrat';
    font-weight: 700;
    font-size: 32px;
}

.main-board-content-big {
    color: var(--main-color-selector);
    font-family: var(--font-family-2);
    font-weight: 700;
    font-size: 60px;
    margin-bottom: 0px;
}

.main-board-content-small {
    color: var(--main-color-selector);
    font-family: var(--font-family-2);
    font-weight: 700;
    font-size: 23px;    
}

.main-board-container-standard {
    display: flex;
    justify-content: "center";
    font-family: var(--font-family-1);
    font-weight: 400;
    font-size: 20px;
}


.board-menu-subpage {    
    font-family: var(--font-family-1);
    font-size: 14px;
    font-weight: 400;
}

.fit-image{
    width: 100%;
    object-fit: cover;
    height: 100%; /* only if you want fixed height */
    }



.navbar .nav-item .nav-link{
    color: var(--main-color-background) !important;
}

.navbar .nav-item .nav-link:hover{
    color: var(--secondary-color-contrast) !important;
}

.navbar {
    height: 5rem;
}

.navbar .navbar-nav .nav-item{
    padding-right: 2rem;
    padding-left: 2rem;
  }  

.navbar .navbar-nav .nav-item .nav-link {
    font-family: var(--font-family-1);
    font-size: 19px;    
    font-weight: 400;
    padding-right: 2rem;
    padding-left: 2rem;
  }

/*Maybe use it with target*/
/*
.navbar .navbar-nav .nav-item .nav-link:hover {
    border-bottom: 2px solid rgb(118, 150, 13);
}  
*/
.navbar .navbar-nav .nav-item .dropdown .btn{
    font-family: var(--font-family-1);
    font-size: 19px; 
    font-weight: 400;       
    border-width: 0px;
    background-color: var(--main-color-contrast);
}  

.navbar .navbar-nav .nav-item .dropdown .btn:hover{    
    color: var(--secondary-color-contrast);
}  

.navbar .navbar-nav .nav-item .dropdown .dropdown-item{
    color:#ffffff !important;
    background-color: #1F232C;
    border-bottom: 1px solid rgb(255, 255, 255);
}  

.navbar .navbar-nav .nav-item .dropdown .dropdown-item:hover{
    color: var(--secondary-color-contrast);
    }  

.navbar .navbar-nav .nav-item .dropdown .dropdown-menu{
    background-color: #1F232C;
    border:1px;
}  

.navbar .navbar-nav .nav-item .dropdown .dropdown-menu .dropdown-item{
    color: #FFFF !important;
    background-color: #1F232C;
    border:1px;
}  


.navbar .navbar-nav .nav-item .dropdown .dropdown-menu .dropdown-item:hover{
    background-color: #454750;
    border:1px;
}  

.logo-image{
    width: 100%;
    border-radius: 50%;
    overflow: hidden;
    margin-top: -6px;
}

#footer-idt {
    font-family: Avenir;
    font-size: 15px;
    font-weight: 400;
    color: var(--main-color-background)
}

@media only screen and (min-width: 960px) {
    
    .navbar .navbar-nav .nav-item:not(:last-child) {
      border-right: 2px solid var(--main-color-background);
    }
  }