.margin-space-1-top {
    margin-top: 4.3rem;
}

.margin-space-2-top {
    margin-top: 8.5rem;
}

.margin-space-1-bottom {
    margin-bottom: 4.3rem;
}

.margin-space-2-bottom {
    margin-bottom: 8.5rem;
}

.content-center-left {
    padding-left: 12%;
    padding-right: 12%;
}





