@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

/* LINK IMAGE HEADER */
/* https://ds4a-team9-idt.s3.us-east-2.amazonaws.com/assets-static/header-top-logo-idt.png */

:root {
  font-size: 16px;
  /* Font family */
  font-family: "Roboto";
  --font-family-2: 'Poppins', sans-serif;
  --font-family-3: 'Avenir';
  /* Font size */
  --font-size-title-3: 3.125rem;
  --font-size-subtitle-3: 1.25rem;
  --font-size-subtitle-2: 1.5rem;
  /* Color element */
  --border-color-2: #c4c3c3;
  --main-color-background: white;
  --main-color-contrast: #20284d;
  --main-color-selector: #4a589b;
  /* Color text */
  --secondary-color-contrast: #bada55;
  --secondary-color-selector: #bada55;
  --third-color-contrast: #e6f0ff;
}

/* -----Landing page----- */

.header-banner {
  height: 95px;
  max-height: 95px;
  overflow: auto;
  margin-bottom: 5px;
}

.header-image {
  z-index: 2;
  position: absolute;
  width: 421px;
  height: 88px;
  left: 195px;
  top: 0px;

  background-size: cover;
  object-fit: cover;

  background-position: top;

  background-image: url(https://ds4a-team9-idt.s3.us-east-2.amazonaws.com/assets-static/header-top-logo-idt.png);
}


.landing-banner {
  max-height: 600px;
  height: 600px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  vertical-align: baseline;
  background-size: cover;
  background-position: center bottom;
  object-fit: cover;
}

.landing-banner::before {
  content: "";
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: rgba(0, 0, 0, 0.6);
}

.landing-title {
  position: relative;
  color: var(--main-color-background);
  font-family: var(--font-family-2);
  font-size: 4.375rem;
  font-weight: 700;
}

.landing-title-bold {
  position: relative;
  color: var(--secondary-color-contrast);
  font-family: var(--font-family-2);
  font-size: 4.375rem;
  font-weight: 700;
}

.landing-subtitle {
  position: relative;
  margin-top: 1rem;
  color: var(--main-color-background);
  font-family: var(--font-family-1);
  font-size: 1.4rem;
  font-weight: 100;
}

.navbar .nav-item .nav-link {
  color: var(--main-color-background) !important;
}

.navbar .nav-item .nav-link:hover {
  color: var(--secondary-color-contrast) !important;
}

.navbar {
  height: 5rem;
}

.navbar .navbar-nav .nav-item {
  padding-right: 2rem;
  padding-left: 2rem;
}

.navbar .navbar-nav .nav-item .nav-link {
  font-family: var(--font-family-1);
  font-size: 19px;
  font-weight: 400;
  padding-right: 2rem;
  padding-left: 2rem;
}


.navbar .navbar-nav .nav-item .dropdown .btn {
  border-width: 0px;
  font-family: var(--font-family-1);
  font-size: 19px;
  font-weight: 400;
  background-color: var(--main-color-contrast);
}

.navbar .navbar-nav .nav-item .dropdown .btn:hover {
  color: var(--secondary-color-contrast);
}

.navbar .navbar-nav .nav-item .dropdown .dropdown-item {
  
  color: #ffffff !important;
  background-color: #1f232c;
  margin:0px;
}


.navbar .navbar-nav .nav-item .dropdown .dropdown-item:hover {
  color: var(--secondary-color-contrast);
}

.navbar .navbar-nav .nav-item .dropdown .dropdown-item .nav-link {
  padding-left: 0px;
  padding-right: 0px;  

}

.navbar .navbar-nav .nav-item .dropdown .dropdown-menu {
  background-color: #1f232c;
}

.navbar .navbar-nav .nav-item .dropdown .dropdown-menu .dropdown-item {
  color: #ffff !important;
  background-color: #1f232c;
}

.navbar .navbar-nav .nav-item .dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #454750;
}

.footer-container {
  position: absolute;
  width: 100%;
  max-height: auto;
  height: 82px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  
  background-color: var(--main-color-contrast);
  font-family: var(--font-family-3);
}

.footer-logos-container {
  margin-right: 12%;   
  display: flex;
  align-items: center;
  gap: 2rem; 
}

.footer-text-right {  
  font-family: "Roboto";
  color: var(--main-color-background);
  margin-left: 12%;   
}

@media only screen and (min-width: 992px) {
  .navbar .navbar-nav .nav-item:not(:last-child) {
    border-right: 2px solid var(--main-color-background);
  }

}

@media only screen and (max-width: 992px) {
  .header-banner {
    display:flex;
    justify-content: center;
  }

  .header-image {
    position:relative;
    left: auto;
    top: auto;    
  }

}

@media only screen and (max-width: 992px) {
  .header-banner {
    display:flex;
    justify-content: center;
  }

  .header-image {
    position:relative;
    left: auto;
    top: auto;    
  }  

  .landing-title-bold {
    font-size: 3rem;    
  }

  .landing-title {
    font-size: 3rem;    
  }  

  .navbar-nav {
    display: flex;
    flex-direction: column;
    max-width: auto;
    position: absolute;
    left: 0px;    
    margin-left: 0px !important;

    justify-content: center;

    background-color: #1F232C;
    border-radius: 5% 5%;
  }

  .navbar .navbar-nav .nav-item .dropdown .btn {
    background-color: #1F232C;
    padding-left: 20%;
    border-width: 0px;
    margin-top: 0.25rem;
    margin-bottom: 0.25rem;
  }


}

@media only screen and (max-width: 768px) {
  #header-app {
    display: none;
  }

  #footer-app-text {
    display: none;
  }

  .footer-logos-container {
    margin-left: auto;   
    margin-right: auto;   
    
    display: flex;
    justify-content: space-between;

    gap: 6rem; 
  }  

}
